<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pdm.bdpj.hivetools.mapper.DemoMapper">

    <insert id="insert" >
        insert into user
        values(
        #{user.id},
        #{user.name},
        #{user.age},
        #{user.sex},
        #{user.address},
        #{user.math},
        #{user.english}
        )
    </insert>
</mapper>
